.login_page .main {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.login_page .login_box {
  width: 400px;
  height: 450px;
  background: #ffffff;
  border-radius: 24px;
  z-index: 1;
}

.login_page .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login_page .first_row {
  text-align: center;
  margin-top: 30px;
}

.login_page .first_row img {
  height: 42px;
}
.login_page .second_row {
  text-align: center;
  margin-top: 30px;
}
.login_page .second_row .column {
  font-size: 24px;
  color: #1a1d20;
}

.login_page .third_row .login_form {
  text-align: center;
  padding: 10px 30px 0px 30px;
}

.login_page .third_row .submit_btn {
  width: 100%;
  height: 37px;
  background: #5E5E5E;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #5E5E5E;
}

.login_page .third_row .ant-form-item-label {
  text-align: center;
}

.login_page .ant-input,
.login_page .ant-input-affix-wrapper {
  background-color: #f0f2f4;
  border: 1px solid #f0f2f4;
  border-radius: 5px;
}

.login_page .fourth_row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.login_page .fourth_row .forgotlink {
  font-size: 13px;
  line-height: 13px;
  color: #5E5E5E;
}

.login_page .ant-form-item-children-icon {
  top: 25% !important;
  margin-top: unset !important;
}

/* :::::::::::::::::::::: Responsive CSS Code Start ::::::::::::::::::::::::::: */

/* Mobile devices */
@media screen and (max-device-width: 480px) {
  .login_page .login_box {
    width: 90%;
  }
}
/* iPads, Tablets */
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
}
/* Small screens, laptops */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
/* Desktops, large screens */
@media screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
}
/* Extra large screens, TV */
@media screen and (min-device-width: 1201px) {
}

/* :::::::::::::::::::::: Responsive CSS Code End ::::::::::::::::::::::::::: */
