.user_cancel_btn {
    color:#FF6921 !important;
    float: left;
}
.user_submit_btn {
    background: #FF6921 !important;
    border-color:#FF6921 !important;
}
.user_add_form .dt-picker {
    width: 100%;
}

.user_add_form .st-sicon {
    display: flex;
    border: solid 1px #afa5a578;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    border-right: 0;
    height: 32px;
    align-items: center;
  }
  .user_add_modal .ant-picker,.user_add_modal .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
/* :::::::::::::::::::::: Responsive CSS Code Start ::::::::::::::::::::::::::: */

/* Mobile devices */
@media screen and (max-device-width: 480px) {
}
/* iPads, Tablets */
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
}
/* Small screens, laptops */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
/* Desktops, large screens */
@media screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
}
/* Extra large screens, TV */
@media screen and (min-device-width: 1201px) {
}

/* :::::::::::::::::::::: Responsive CSS Code End ::::::::::::::::::::::::::: */
