.ant-layout-header {
  display: flex;
  align-items: center;
  background: #1d1c1c;
  box-shadow: 0px 1px 0px #c6cacd;
  height: auto;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
}
.brand_logo {
  display: inline-block;
}
.brand_logo img {
  height: 45px;
}
.ant-menu-horizontal {
  border: 0px;
}
.ant-input-prefix img {
  height: 15px;
}

.ant-menu .ant-menu-item-selected,.ant-menu-item-selected a, .ant-menu-item-selected a:hover,
.ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item a:hover {
  font-weight: bold;
  color: #1a1d20 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 0px !important;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: 0px !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: rgba(0, 0, 0, 0.85);
}

.main_lay_page .ant-layout-content {
  padding: 0 !important;
  padding-top: 70px !important;
  background: #131212 !important;
}

.top_header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.bottom_footer {
  position: fixed;
  z-index: 10;
  width: 100%;
  bottom: 0;
  background: #272626 !important;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.side_brand_logo{
  text-align: center;
}
.side_brand_logo img {
  height: 48px;
}

.d-flex {
  display: flex;
}

.left-menu-div {
  width: inherit;
  display: block;
}

.left-menu-div .theme-icon {
  float: right;
}

.left-menu-div svg {
  position: relative;
  bottom: -3px;
}

.left-menu-div .ant-menu-item a.active {
  padding: 7px;
  background: #F0F2F4;
  border-radius: 5px;
}

/* :::::::::::::::::::::: Responsive CSS Code Start ::::::::::::::::::::::::::: */

/* Mobile devices */
@media screen and (max-device-width: 480px) {
}
/* iPads, Tablets */
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  
}
/* Small screens, laptops */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
/* Desktops, large screens */
@media screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
}
/* Extra large screens, TV */
@media screen and (min-device-width: 1201px) {
}

/* :::::::::::::::::::::: Responsive CSS Code End ::::::::::::::::::::::::::: */